---
siteTitle: John M. Wargo for President
---

<!DOCTYPE HTML>
<!--
Altitude by Pixelarity
pixelarity.com | hello@pixelarity.com
License: pixelarity.com/license
--><html>
  <head>
    <title>{{ siteTitle }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />
    {% include "google-analytics.html" %}
  </head>
  <body class="is-preload">
    <div id="page-wrapper">
      <div class="wrapper">
        <div class="inner">
          {% include "header.html" %}
          {% include "nav.html" %}

          <!-- Banner -->
          <section id="banner">
            <div class="items">
              <section class="accent2">
                <h1>Moderate Republican</h1>
                <p>No extremist views, left or right.<br/>All I care about is doing the right thing for America and Americans.</p>
                <ul class="actions special">
                  <li>
                    <a href="#" class="button primary">Learn More</a>
                  </li>
                </ul>
              </section>
              <section class="accent3">
                <h1>Fiscal Responsibility</h1>
                <p>Back to basics<br/>Less government, not more</p>
                <ul class="actions special">
                  <li>
                    <a href="#" class="button primary">Learn More</a>
                  </li>
                </ul>
              </section>
            </div>
            <div class="slider">
              <article>
                <img
                  src="images/pic01.jpg"
                  alt=""
                  data-position="bottom right" />
              </article>
              <article>
                <img
                  src="images/pic02.jpg"
                  alt=""
                  data-position="bottom right" />
              </article>
              <article>
                <img
                  src="images/pic03.jpg"
                  alt=""
                  data-position="top left" />
              </article>
            </div>
          </section>

        </div>
      </div>

      <!-- Wrapper -->
      <div class="wrapper">
        <div class="inner">
          <!-- Section -->
          <section class="main">
            <header class="major">
              <h2>Building a Sensible America</h2>
              <p>Eliminate partisan politics to get back to doing what's right for America and Americans.</p>
            </header>
            <div class="features">
              <section>
                <span class="icon solid fa-camera major accent2"></span>
                <h3>Ultrices aliquam</h3>
                <p>Lorem ipsum dolor sit amet nullam feugiat tempus</p>
              </section>
              <section>
                <span class="icon solid fa-paper-plane major accent3"></span>
                <h3>Lorem sed nullam</h3>
                <p>Lorem ipsum dolor sit amet nullam feugiat tempus</p>
              </section>
              <section>
                <span class="icon solid fa-envelope major accent4"></span>
                <h3>Aliquam feugiat</h3>
                <p>Lorem ipsum dolor sit amet nullam feugiat tempus</p>
              </section>
            </div>
          </section>

          <!-- Section -->
          <section class="carousel accent4">
            <article>
              <div class="image"><img
                  src="images/pic04.jpg"
                  alt=""
                  data-position="center" /></div>
              <div class="content">
                <h3>Magna tempus</h3>
                <p>Adipiscing ullamcorper semper ut amet ac risus. Lorem sapien ut odio odio nunc. Ac adipiscing nibh porttitor erat risus justo adipiscing adipiscing amet placerat.</p>
              </div>
            </article>
            <article>
              <div class="image"><img
                  src="images/pic05.jpg"
                  alt=""
                  data-position="center" /></div>
              <div class="content">
                <h3>Consequat ipsum</h3>
                <p>Sapien a lorem in integer ornare praesent commodo adipiscing arcu in massa commodo lorem accumsan at odio massa ac ac. Semper adipiscing varius accumsan.</p>
              </div>
            </article>
            <article>
              <div class="image"><img
                  src="images/pic06.jpg"
                  alt=""
                  data-position="center" /></div>
              <div class="content">
                <h3>Magna tempus</h3>
                <p>Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit tempus accumsan lorem ipsum dolor sit amet nullam aliquam.</p>
              </div>
            </article>
            <nav>
              <a href="#" class="previous">
                <span class="label">Previous</span>
              </a>
              <a href="#" class="next">
                <span class="label">Next</span>
              </a>
            </nav>
          </section>

          <!-- Section -->
          <section class="main">
            <header class="major">
              <h2>Sed tempus aliquam</h2>
              <p>Lorem ipsum dolor sit amet</p>
            </header>
            <div class="spotlights">
              <article>
                <div class="image"><img
                    src="images/pic07.jpg"
                    alt=""
                    data-position="center" /></div>
                <div class="content">
                  <h3>Aliquam</h3>
                  <p>Morbi in sem quis dui placerat ellentesque odio nisi euismod in haretra a, ultricies in, diam ed rcuc consequat lorem ipsum dolor.</p>
                  <ul class="actions special">
                    <li>
                      <a href="#" class="button primary">More</a>
                    </li>
                  </ul>
                </div>
              </article>
              <article>
                <div class="image"><img
                    src="images/pic08.jpg"
                    alt=""
                    data-position="center" /></div>
                <div class="content">
                  <h3>Pellentesque fermentum</h3>
                  <p>Eed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum lorem ipsum blandid sti amet velvelit.</p>
                  <ul class="actions special">
                    <li>
                      <a href="#" class="button primary">More</a>
                    </li>
                  </ul>
                </div>
              </article>
            </div>
          </section>
        </div>
      </div>

      <!-- Wrapper -->
      <div class="wrapper">
        <div class="inner">

          <!-- Section -->
          <section class="main accent2">
            <header class="major">
              <h2>Get notified</h2>
              <p>Lorem ipsum dolor sit amet nullam feugiat tempus</p>
            </header>
            <form
              method="post"
              action="#"
              class="combined">
              <input
                type="email"
                name="email"
                id="email"
                placeholder="Email address"
                class="invert" />
              <input
                type="submit"
                class="primary"
                value="Sign Up" />
            </form>
          </section>

          <!-- Footer -->
          <footer id="footer">
            <section class="links">
              <div>
                <h3>Magna</h3>
                <ul class="plain">
                  <li>
                    <a href="#">Aliquam tempus</a>
                  </li>
                  <li>
                    <a href="#">Ultrecies nul</a>
                  </li>
                  <li>
                    <a href="#">Gravida ultricies</a>
                  </li>
                  <li>
                    <a href="#">Commodo etiam</a>
                  </li>
                </ul>
              </div>
              <div>
                <h3>Feugiat</h3>
                <ul class="plain">
                  <li>
                    <a href="#">Morbi sem lorem</a>
                  </li>
                  <li>
                    <a href="#">Praes sed dapi</a>
                  </li>
                  <li>
                    <a href="#">Sed adipis nullam</a>
                  </li>
                  <li>
                    <a href="#">Fus dolor lacinia</a>
                  </li>
                </ul>
              </div>
              <div>
                <h3>Tempus</h3>
                <ul class="plain">
                  <li>
                    <a href="#">Donecnec etiam</a>
                  </li>
                  <li>
                    <a href="#">Aapibus sedun</a>
                  </li>
                  <li>
                    <a href="#">Namnulla tempus</a>
                  </li>
                  <li>
                    <a href="#">Morbi set amet</a>
                  </li>
                </ul>
              </div>
              <div>
                <h3>Aliquam</h3>
                <ul class="plain">
                  <li>
                    <a href="#">Lorem prasent dia</a>
                  </li>
                  <li>
                    <a href="#">Nellentes ipsum</a>
                  </li>
                  <li>
                    <a href="#">Diamsed arcu dolor</a>
                  </li>
                  <li>
                    <a href="#">Sit amet cursus</a>
                  </li>
                </ul>
              </div>
            </section>
            <section>
              <p>Flag photo by
                <a href="https://unsplash.com/@daveatjude3?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank">Dave Sherrill</a>
                on
                <a href="https://unsplash.com/images/things/american-flag?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank">Unsplash</a>
              </p>
              <p>US Capital photo by
                <a href="https://unsplash.com/fr/@someguy?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank">Andy Feliciotti</a>
                on
                <a href="https://unsplash.com/photos/EmSWJzRYxG0?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank">Unsplash</a>
              </p>
            </section>
            <ul class="contact-icons">
              <li class="icon solid fa-home">1234 Fictional Street #5432 Nashville, TN 00000-0000</li>
              <li class="icon solid fa-phone">
                <a href="#">(000) 000-0000</a>
              </li>
              <li class="icon solid fa-envelope">
                <a href="#">info@untitled.tld</a>
              </li>
            </ul>
            <p class="copyright">&copy; John M. Wargo. All rights reserved.</p>
          </footer>
        </div>
      </div>
    </div>
    {% include "page-scripts.html" %}
  </body>
</html>