---
siteTitle: John M. Wargo for President
---

<!DOCTYPE HTML>
<!--
Altitude by Pixelarity
pixelarity.com | hello@pixelarity.com
License: pixelarity.com/license
--><html>
  <head>
    <title>{{ siteTitle }}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="generator" content="{{ eleventy.generator }}">
    <link rel="stylesheet" href="assets/css/main.css" />
    <link rel="manifest" href="/manifest.json">
    {% include "google-analytics.html" %}
  </head>
  <body class="is-preload">
    <div id="page-wrapper">
      <div class="wrapper">
        <div class="inner">
          {% include "header.html" %}
          {% include "nav.html" %}

          <section id="banner">
            <div class="items">
              <section class="accent2">
                <h1>A Moderate Republican</h1>
                <p>No extremist views, left or right.<br/>All I care about is doing the right thing for America and Americans.</p>
                <ul class="actions special">
                  <li>
                    <a href="/about" class="button primary">Learn More</a>
                  </li>
                </ul>
              </section>
              <section class="accent3">
                <h1>Fiscal Responsibility</h1>
                <p>Back to basics. Less government, not more. No more debt ceiling nonsense.</p>
                <ul class="actions special">
                  <li>
                    <a href="/policies/fiscal-responsibility/" class="button primary">Learn More</a>
                  </li>
                </ul>
              </section>
            </div>

            <div class="slider">
              <article>
                <img
                  src="images/pic01.jpg"
                  alt=""
                  data-position="bottom right" />
              </article>
              <article>
                <img
                  src="images/pic02.jpg"
                  alt=""
                  data-position="bottom right" />
              </article>
              <article>
                <img
                  src="images/pic03.jpg"
                  alt=""
                  data-position="top left" />
              </article>
            </div>
          </section>

        </div>
      </div>

      <!-- Wrapper -->
      <div class="wrapper">
        <div class="inner">
          <!-- Section -->
          <section class="main">
            <header class="major">
              <h2>Building a Sensible America</h2>
              <p>Eliminate partisan politics to get back to doing what's right for America and Americans before anything else.</p>
            </header>
            <div class="features">
              <section>
                <span class="icon solid fa-venus major accent2"></span>
                <h3>
                  <a href="/policies/womens-rights">Women's Rights</a>
                </h3>
                <p>A bunch of old men shouldn't get to tell women what do to with their bodies.<br/>Its just not right!</p>
              </section>
              <section>
                <span class="icon solid fa-people-arrows major accent4"></span>
                <h3>Congressional Cooperation</h3>
                <p>Leading means negotiation, compromise, and working together for America.<br/>No partisan politics.
                </p>
              </section>
              <section>
                <span class="icon solid fa-landmark major accent3"></span>
                <h3>Proper Representation</h3>
                <p>Political parties are not voting blocks; Congress should represent their constitituents, not vote along party lines.</p>
              </section>

              <div class="features">
                <section>
                  <span class="icon solid fa-joint major accent2"></span>
                  <h3>
                    <a href="/policies/legalizing-marijuana">Legalize Marijuana</a>
                  </h3>
                  <p>A Federal ban on weed while States make it legal is just an unnecessary conflict and creates confusion. Its time to eliminate this nonsense.</p>
                </section>
                <section>
                  <span class="icon solid fa-passport major accent4"></span>

                  <h3>
                    <a href="/policies/immigration/">Immigration</a>
                  </h3>
                  <p>America doesn't have an immigration problem, Congress does. We're supposed to be a melting pot of cultures, but Congress spends more time worrying about being re-elected than fixing this problem.</p>
                </section>
                <section>
                  <span class="icon solid fa-user-ninja major accent3"></span>
                  <h3>
                    <a href="/policies/firearm-responsibility">Firearm Responsibility</a>
                  </h3>
                  <p>Most Americans support increased gun restrictions while Republican run governments systematically remove restrictions as more innocents die. We must fix this!</p>
                </section>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="wrapper">
          <div class="inner">
            <footer id="footer">
              <p>
                <strong>Photo Credits:
                </strong>Flag photo by
                <a href="https://unsplash.com/@daveatjude3?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank">Dave Sherrill</a>
                on
                <a href="https://unsplash.com/images/things/american-flag?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank">Unsplash</a>,&nbsp;
                US Capital Photo by&nbsp;
                <a href="https://unsplash.com/@elevenphotographs?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank">ElevenPhotographs</a>
                on&nbsp;<a href="https://unsplash.com/photos/GHXpXhuT5nM?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank">Unsplash</a>, American Eagle Photo by
                <a href="https://unsplash.com/@cadop?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank">Mathew Schwartz</a>&nbsp;on&nbsp;
                <a href="https://unsplash.com/photos/NEvS5lHyrlk?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank">Unsplash</a>.
              </p>
              {% include "copyright.html" %}
            </footer>
          </div>
        </div>
      </div>
      {% include "page-scripts.html" %}</body>
  </body>
</html>