---
title: Search
headerImage: /images/headers/markus-winkler-afW1hht0NSs-unsplash.jpg
headerDescription: An image of a magnifying glass against a blue background.
layout: generic
eleventyNavigation:
  key: Search
  order: 20
---

Nothing to see here, move along! Come back later when I've implemented search.

<hr/>

<p>Photo by
  <a href="https://unsplash.com/@markuswinkler?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank">Markus Winkler</a>
  on
  <a href="https://unsplash.com/photos/afW1hht0NSs?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText" target="_blank">Unsplash</a>
</p>